/*
!/applications
!/color-schemes
!/dolphin
!/fish
!/fontconfig
!/fonts
!.gitignore
!/icons
!/kdenlive
!/konsole
#!/krita # no, this is huge for some reason
!/kxmlgui5
!/kwin
!/nvim
!/plasma
!/plasma-systemmonitor
!/plasma_notes
!/qalculate
!/zsh
