[Desktop Entry]
Icon=image-gif
Name=indexing_map.gif
Type=Link
URL[$e]=file:///drive/Projects/ucu/acs/lab9-words-other-tools/indexing_map.gif
X-KDE-LastOpenedWith=org.kde.gwenview
