[Desktop Entry]
Icon=image-gif
Name=indexing.gif
Type=Link
URL[$e]=file:///drive/Projects/ucu/acs/lab8-words-parallel/indexing.gif
X-KDE-LastOpenedWith=org.kde.gwenview
