[Desktop Entry]
Icon=image-png
Name=plot.png
Type=Link
URL[$e]=file:///drive/Projects/ucu/acs/lab10-words-high-level/plot.png
X-KDE-LastOpenedWith=org.kde.gwenview
