[Desktop Entry]
Icon=text-plain
Name=res_n8.txt
Type=Link
URL[$e]=file:$HOME/Downloads/res_n8.txt
X-KDE-LastOpenedWith=org.freedesktop.impl.portal.desktop.kde
