/*
!baloofilerc
!bluedevilglobalrc
!dolphinrc
!/dconf
!/eslint
!/fish
!/GIMP
!/git
!.gitignore
!/gtk-2.0
!gtk-2.0
!/gtk-3.0
!gtk-3.0
!gtk-4.0
!/inkscape
!/input-remapper-2
!kaccessrc
!/kate
!katerc
!kateschemarc
!kcminputrc
!/kdedefaults
!kdeglobals
!kglobalshortcutsrc
!/kitty
!/klassy
!klaunchrc
!klipperrc
!kmagrc
!konsolerc
!kritarc
!krunnerrc
!kscreenlockerrc
!ksmserverrc
!ksplashrc
!ktimezonedrc
!ktrashrc
!kwinrc
!kwinrulesrc
!kxkbrc
!/libreoffice
!/lsd
!/menus
!/mypy
!/nvim
!/obs-studio
!plasma-localerc
!plasma-nm
!plasma-org.kde.plasma.desktop-appletsrc
!plasmarc
!plasmashellrc
!PlasmaUserFeedback
!powerdevilrc
!powermanagementprofilesrc
!/pypoetry
!/qalculate
!/ruff
!spectaclerc
!systemmonitorrc
!touchpadxlibinputrc
!Trolltech.conf
!user-dirs.dirs
!user-dirs.locale
!/vlc
!/xsettingsd
