[Desktop Action new-private-window]
Exec=firefox --private-window %u
Name[en_US]=New Private Window
Name=Open a New Private Window

[Desktop Action new-window]
Exec=firefox --new-window %u
Name[en_US]=New Window
Name=Open a New Window

[Desktop Action profile-manager-window]
Exec=firefox --ProfileManager
Name=Open the Profile Manager

[Desktop Entry]
Actions=new-window;new-private-window;profile-manager-window;
Categories=Network;WebBrowser;
Comment=Browse the Web
Exec=firefox --file-forwarding org.mozilla.firefox --profile /home/rad1an/.mozilla/firefox/4nrx48w9.Firehome --name firehome
GenericName[en_US]=Web Browser
GenericName=Web Browser
Icon=org.mozilla.firefox
Keywords=web;browser;internet;
MimeType=text/html;application/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;
Name[en_US]=Firehome
Name=Firehome
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-Desktop-File-Install-Version=0.26
X-KDE-SubstituteUID=false
X-KDE-Username=
