[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=STM32CubeMX
Comment=STM32CubeMX Interpreter
Terminal=false
Type=Application
Icon=/home/rad1an/STM32CubeMX/help/STM32CubeMX.png
Exec=/home/rad1an/STM32CubeMX/jre/bin/java -jar /home/rad1an/STM32CubeMX/STM32CubeMX
X-Desktop-File-Install-Version=0.28
