[Desktop Entry]
Comment=
Exec=sh /home/rad1an/dotfiles/scripts/excalidraw.sh
Icon=/home/rad1an/.local/share/ice/icons/Excalidraw.png
Name=ExcalidrawDocker
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
