[Desktop Entry]
Exec=firefox --file-forwarding org.mozilla.firefox --profile /home/rad1an/.mozilla/firefox/4nrx48w9.Firehome --name firehome
Name=firefox --file-forwarding org.mozilla.firefox --profile /home/rad1an/.mozilla/firefox/4nrx48w9.Firehome --name firehome
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
