[Desktop Entry]
Exec=flatpak run com.bitwarden.desktop
Name=flatpak run com.bitwarden.desktop
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
