[Desktop Entry]
Name=For The King
Comment=Play this game on Steam
Exec=steam steam://rungameid/527230
Icon=steam_icon_527230
Terminal=false
Type=Application
Categories=Game;
