[Desktop Entry]
Exec=kitty --detach qalc
Name=kitty --detach qalc
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
