[Desktop Entry]
Exec=kitty --detach sh -c "nvim ~/temp/md.md"
Name=kitty --detach sh -c "nvim ~/temp/md.md"
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
