[Desktop Entry]
Exec=konsole -e nvim ~/temp/md.md
Name=konsole -e nvim ~/temp/md.md
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
