[Desktop Entry]
Exec=/home/rad1an/dotfiles/scripts/nvim_conspectus.sh
Name=nvim_conspectus
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
