[Desktop Entry]
Exec=alacritty -e sh -c "nvim ~/temp/md.md"
Name=tempmd
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
