[Desktop Entry]
Exec=~/.dotfiles/scripts/obsidian.AppImage
Name=~/.dotfiles/scripts/obsidian.AppImage
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
