[Desktop Entry]
Exec=/home/rad1an/.dotfiles/scripts/Upscayl-1.5.5.AppImage
Name=/home/rad1an/.dotfiles/scripts/Upscayl-1.5.5.AppImage
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
