[Desktop Entry]
Version=1.0
Name=Telegram
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="telegram" firefox --class WebApp-Telegram0784 --name WebApp-Telegram0784 --profile /home/rad1an/.local/share/ice/firefox/Telegram0784 --no-remote "https://web.telegram.org"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=telegram
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Telegram0784
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://web.telegram.org
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
