[Desktop Entry]
Version=1.0
Name=Discord
Comment=Web App
Exec=chromium-browser --app="https://app.discord.com" --class=WebApp-Discord8742 --name=WebApp-Discord8742 --user-data-dir=/home/rad1an/.local/share/ice/profiles/Discord8742
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/rad1an/.local/share/ice/icons/Discord.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Discord8742
StartupNotify=true
X-WebApp-Browser=Chromium (chromium-browser)
X-WebApp-URL=https://app.discord.com
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true

