[Desktop Entry]
Version=1.0
Name=Excalidraw
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="/home/rad1an/.local/share/ice/icons/Excalidraw.png" firefox --class WebApp-Excalidraw4852 --name WebApp-Excalidraw4852 --profile /home/rad1an/.local/share/ice/firefox/Excalidraw4852 --no-remote "https://excalidraw.com"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/rad1an/.local/share/ice/icons/Excalidraw.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Excalidraw4852
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=http://localhost:3000/
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
