[Desktop Entry]
Version=1.0
Name=telegram
Comment=Web App
Exec=chromium-browser --app="https://web.telegram.org" --class=WebApp-telegram7324 --name=WebApp-telegram7324 --user-data-dir=/home/rad1an/.local/share/ice/profiles/telegram7324
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=telegram
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-telegram7324
StartupNotify=true
X-WebApp-Browser=Chromium (chromium-browser)
X-WebApp-URL=https://web.telegram.org
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
