[Desktop Entry]
Type=Application
Name=wordpad
MimeType=application/rtf;
Exec=env WINEPREFIX="/run/media/rad1an/Games/ubisoft-connect" wine start /ProgIDOpen rtffile %f
NoDisplay=true
StartupNotify=true
Icon=3365_wordpad.0
