[Desktop Entry]
Type=Application
Name=wscript
MimeType=text/vbscript;
Exec=env WINEPREFIX="/run/media/rad1an/Games/ubisoft-connect" wine start /ProgIDOpen VBSFile %f
NoDisplay=true
StartupNotify=true
Icon=2905_wscript.0
