[Desktop Entry]
Type=Application
Name=rundll32
MimeType=application/x-mswinurl;
Exec=env WINEPREFIX="/run/media/rad1an/Games/ubisoft-connect" wine start /ProgIDOpen InternetShortcut %f
NoDisplay=true
StartupNotify=true
Icon=5742_rundll32.0
