[Desktop Entry]
Type=Application
Name=winhlp32
MimeType=application/winhlp;
Exec=env WINEPREFIX="/run/media/rad1an/Games/ubisoft-connect" wine start /ProgIDOpen hlpfile %f
NoDisplay=true
StartupNotify=true
Icon=C06E_winhlp32.0
