[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=image/jpeg;
Exec=env WINEPREFIX="/run/media/rad1an/Games/ubisoft-connect" wine start /ProgIDOpen jpegfile %f
NoDisplay=true
StartupNotify=true
Icon=ECB7_iexplore.0
